{% extends "base.html" %}

{% block title %} {{ article.title }} {% endblock %}

{% block content %}

{% load static from staticfiles %}
{% load render_as_template %}


<div class="row">
	<div class="panel">
		<div class="row">

			<div class="large-6 medium-6 columns">
				<table>

					<tr>
						<td>
							<h6>Author:</h6>
						</td>
						<td>
							<h6>{{ article.author }}</h6>
						</td>
					</tr>

					<tr>
						<td>
							<h6>Publish Date:</h6>
						</td>
						<td>
							<h6>{{ article.date_created }}</h6>
						</td>
					</tr>


				</table>
				
				
			</div>

			<div class="large-6 medium-6 columns">
				<table>

					{% if article.work_link %}
					<tr>
						<td>
							<h6>Work:</h6>
						</td>
						<td>
							<h6><a href="/wc_admin/view_work/?id={{ article.work_link.id }}"> {{ article.work_link }}</a></h6>
						</td>
					</tr>
					{% endif %}

					{% if article.artist_link %}
					<tr>
						<td>
							<h6>Artist: </h6>
						</td>
						<td>
							<h6>{{ article.artist_link }}</h6>
						</td>
					</tr>
					{% endif %}

					<tr>
						<td>
							<h6>Category: </h6>
						</td>
						<td>
							<h6>{{ article.article_category }}</h6>
						</td>
					</tr>

					<tr>
						<td>
							<h6>Tags: </h6>
						</td>
						<td>
							<h6>{% for tag in article.tags.all %} {{ tag }}, {% endfor %}</h6>
						</td>
					</tr>

				</table>
				
			</div>

			<div class="large-12 columns">
				<h2>{{ article.title }}</h2>

				<br><br>

				<p><i>English Article</i></p>
				<div class="sub_panel">
					<p class="article_text">
						{{ article.body_en|safe }}
					</p>
				</div>
				<br><br>

				<p><i>Article Français</i></p>
				<div class="sub_panel">
					<p class="article_text">
						{{ article.body_fr|safe }}
					</p>
				</div>
			</div>

		</div>
	</div>
</div>


{% endblock %}