{% extends "base.html" %}

{% block title %} {{ artist.name }} {% endblock %}

{% block content %}

<div class="row">
	<div class="panel">
		<h2>{{ artist.name }}</h2>
		<h5>{% if artist.group %} Group {% else %}Individual{% endif %}</p>
		<h5>{% if artist.group %} FORMED: {% else %}BORN:{% endif %}</h5><p> {{ artist.birthdate }}</p>
		<h5>{% if artist.group %} DISBANDED: {% else %}DIED:{% endif %}</h5><p> {{ artist.deathdate }}</p>

		<h5>WEBSITE:</h5>
		<p>{{artist.website.name}}</p>
		<p>{{artist.website.link}}</p>


		<h5>DESCRIPTION:</h5>
		<p>{{ artist.description }}</p>

	</div>

	<div class="panel wc_control">
		<form method="post" action="/wc_admin/save_new_work/">
			<input type="hidden" name="artist_id" value="{{ artist.id }}">
			<button class="button small" type="submit">
				Add Work by {{artist.name}} to Database
			</button>
		</form>
		<br>

		{% if artist.group %}

		<button class="button small" href="#">
			Add Group Members to {{ artist.name }}
		</button>

		{% else %}

		<button class="button small" href="#">
			Add Groups that {{ artist.name }} is a member of
		</button>

		{% endif %}
	</div>

</div>


{% endblock %}