{% extends "base.html" %}

{% block title %} Edit Profile {% endblock %}

{% block content %}


<div class="row">
		<div class="panel">
			<div class="row">
				<h2>Enter New Author</h2>
				<form method="post" action="">
					{% csrf_token %}
					{{ author_form }}
					<br>
					{{ user_form }}
					<br>
					
					<label for="password">New Password
						<input type="password" name="password" id="id_password" placeholder="Enter New Password" autocomplete="off">
					</label>

					<input type="submit" class="button small" value="SAVE">

				</form>
			</div>
		</div>
	</div>

{% endblock %}