{% extends "base.html" %}

{% block title %} {{ production_company.name }} {% endblock %}

{% block content %}

<div class="row">
	<div class="panel">
		<div class="row">
			<div class="large-12 columns">
				<h2>{{ production_company.name }}</h2>
				<br>
			

				<h5>WEBSITE:</h5>
				<p><a href="{{production_company.website.link}}">{{ production_company.website.name }}</a></p>
				<br>

				<h5>CITY:</h5>
				<p>{{ production_company.city }}</p>
				<br>

				<h5>Styles:</h5>
				<p>{% for style in production_company.styles.all %} {{ style }}, {% endfor %}</p>
				<br>

				<h5>Formats:</h5>
				<p>{% for format in production_company.formats.all %} {{ format }}, {% endfor %}</p>
				<br>
			</div>
		</div>

	</div>

</div>




{% endblock %}