{% extends "base.html" %}

{% block title %}New Production Company Profile {% endblock %}

{% block content %}


	<div class="row">
		<div class="panel">
			<div class="row">
				<h2>New Production Company</h2>
				<form method="post" action="/wc_admin/save_new_production_company/">
					{% csrf_token %}
					{{ production_company_form }}
					<br>
					<label for="website_name">Name of Website (Optional)
						<input type="text" name="website_name" id="website_name" placeholder="Name of Website" />
					</label>
					<br>
					<label for="URL">Website Full URL (Include 'http://') (Optional)
						<input type="text" name="URL" id="URL" placeholder="Full URL" />
					</label>
					<br>
					<input type="submit" value="SAVE">
					<br>
					<p>

					</p>
				</form>
			</div>
		</div>
	</div>


{% endblock %}