{% extends "base.html" %}

{% block title %}Test Successful {% endblock %}

{% block content %}


	<div class="row">
		<div class="panel">
			<div class="row">
				<h2>Enter New Author</h2>
				<form method="post" action="">
					{% csrf_token %}
					{{ author_form }}
				</form>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="panel">
			<div class="row">
				<h2>Enter New Blog Entry</h2>
				<form method="post" action="">
					{% csrf_token %}
					{{ entry_form }}
				</form>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="panel">
			<div class="row">
				<h2>Enter New Artist</h2>
				<form method="post" action="">
					{% csrf_token %}
					{{ artist_form }}
				</form>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="panel">
			<div class="row">
				<h2>Enter New Work of Art</h2>
				<form method="post" action="">
					{% csrf_token %}
					{{ work_form }}
				</form>
			</div>
		</div>
	</div>




{% endblock %}