{% extends "base.html" %}

{% block title %}View Artist {% endblock %}

{% block content %}

<div class="row">
	<div class="panel">
		<h2>{{ artist.name }}</h2>
		<p>{% if artist.group %} Group {% else %}Individual{% endif %}</p>
		<p>{% if artist.group %} FORMED: {% else %}BORN:{% endif %} {{ artist.birthdate }}</p>
		<p>{% if artist.group %} DISBANDED: {% else %}DIED:{% endif %} {{ artist.deathdate }}</p>
		<br>
		<p>
			DESCRIPTION:
			<br>
			{{ artist.description }}
			<br>
		</p>

	</div>

	<div class="panel wc_control">
		<button class="button small" href="#">Add Work by {{artist.name}} to Database</button>
	</div>

</div>


{% endblock %}