{% extends "base.html" %}

{% block title %} Weird Canada Control Panel {% endblock %}

{% block content %}

<div class="large-12 columns">
	<div class="row">
		<div class="panel">
			<div class="row">
				<div class="large-6 medium-6 columns">
				
				
					<h3>DATABASE</h3>
					<br>
					<p>To add a new article which celebrates a work of art, you must first find (or create) that work in the database.</p>
					<p>To add a new "work" of art to the database you must first find (or create) the artist in the database.</p>
					
					<div class="large-6 columns">
						<p>
							<a class="button small" href="/wc_admin/browse_works">Browse Works</a>
						</p>
						<p>
							<a class="button small" href="/wc_admin/browse_artists">Browse Artists</a>
						</p>
						<p>
							<a class="button small" href="/wc_admin/browse_articles">Browse Articles</a>
						</p>
					</div>

					<div class="large-6 columns">

						<p>
							<a class="button small" href="/wc_admin/write_new_artist">Add Artist</a>
						</p>

						<p>
							<a href="" class="button small" data-reveal-id="add_article_modal">Add Article</a>
						</p>

						<p>
							<a class="button small" href="/wc_admin/write_new_production_company">Add Production Company</a>
						</p>

					</div>
					
					<div class="large-12 columns center">

						<p>
							<a class="button small center" data-reveal-id="help_modal" href="#">HELP!</a>
						</p>
					</div>

				</div>

				<div class="large-6 medium-6 columns">

					<h3>PROFILE</h3>
					<br>

					<table>

						<tr>
							<td>
								Username:
							</td>
							<td>
								{{ user.username }}
							</td>
						</tr>

						<tr>
							<td>
								Author Name:
							</td>
							<td>
								{{ author.authorname }}
							</td>
						</tr>

						<tr>
							<td>
								Real Name:
							</td>
							<td>
								{{ user.first_name }} {{user.last_name}}
							</td>
						</tr>

						<tr>
							<td>
								Email:
							</td>
							<td>
								{{ user.email }}
							</td>
						</tr>

						<tr>
							<td>
								Member Since:
							</td>
							<td>
								{{ user.date_joined }}
							</td>
						</tr>

					</table>
					<br>

					<a class="button small" href="/wc_admin/edit_profile">Edit Profile</a>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="large-12 columns">
	<div class="row">
		<div class="panel">
			<div class="row">
				<div class="large-4 medium-6 columns">

					<h3>LATEST ARTICLES:</h3>
					<div class="large-12 columns">
						{% for article in latest_articles %}

						<div class="sub_panel">

							<a href="/wc_admin/view_article/?id={{ article.id }}"><h5>{{ article.title }}</h5></a>
							<ul class="wc_list">
								<li><p><b>Author:</b> {{ article.author }}</p></li>
								<li><p><b>Article cat:</b> {{ article.article_category }}</p></li>
								<li><p><b>How cat(s):</b> {% for cat in article.how_category.all %} {{ cat }}, {% endfor %} </p></li>
							</ul>

						</div>

						{% endfor %}
						<br>
					</div>
				</div>
				<div class="large-4 medium-6 columns">

					<h3>LATEST WORKS:</h3>

					<div class="large-12 columns">

						{% for work in latest_works %}

						<div class="sub_panel">

							<a href="/wc_admin/view_work/?id={{ work.id }}"><h5>{{ work.title }}</h5></a>
							<ul class="wc_list">
								<li><p>{{ work.creator }}</p></li>
								<li><p>{{ work.category }}</p></li>	
							</ul>

						</div>

						{% endfor %}
						<br>
					</div>
				</div>

				

				<div class="large-4 medium-6 columns">

					<h3>LATEST ARTISTS:</h3>
					<div class="large-12 columns">
						{% for artist in latest_artists %}
						<div class="sub_panel">
							<a href="/wc_admin/view_artist/?id={{ artist.id }}"><h5>{{ artist.name }}</h5></a>
						</div>
						{% endfor %}
						<br>
					</div>
				</div>

				

				<div class="large-12 medium-6 columns">
					<h3>DATABASE STATS:</h3>
					<div class="large-12 columns">
						<table>
							<tr>
								<td>Total Articles:</td>
								<td>{{ total_articles }}</td>
							</tr>
							<tr>
								<td>Total Works:</td>
								<td>{{ total_works }}</td>
							</tr>
							<tr>
								<td>Total Artists:</td>
								<td>{{ total_artists }}</td>
							</tr>
							<tr>
								<td>Total Production Companies:</td>
								<td>{{ total_production_companies }}</td>
							</tr>
							<tr>
								<td>Total WC Authors:</td>
								<td>{{ total_authors }}</td>
							</tr>
							
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


	<!-- MODALS -->



<div id="add_article_modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Wanna write a new article?</h2>
  <p class="lead">Which kind of article would you like to write?</p>

	<div class="large-6 medium-6 columns">
		<p class="justify">
			<b>To write an article based on a work of art</b> you must first find the work of art in the database. You'll probably have to add it to the database first. AND before you do that you'll have to make sure the ARTIST who made the WORK is also in the database.
		</p>
		<p>So here are your options:</p>
		<a href="/wc_admin/browse_works" class="button small">BROWSE WORKS</a>
		<a href="/wc_admin/browse_artists" class="button small">BROWSE ARTISTS</a>
		<a href="/wc_admin/write_new_artist" class="button small">ADD ARTIST TO DB</a>
	</div>

	<div class="large-6 medium-6 columns">
		<p class="justify">
			<b>To write a stand-alone article</b>, such an article for IDEAS or HOW-TO:
		</p>
		<a href="/wc_admin/write_mono_article" class="button small">CLICK HERE</a>
	</div>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>




<div id="help_modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">How to use this site</h2>
  <p class="lead">Select which action you want to learn about</p>

	<div class="large-12 columns">

		<ul class="tabs" data-tab>
			<li class="tab-title active"><a href="#panel1">Intro</a></li>
		  <li class="tab-title"><a href="#panel2">Review Articles</a></li>
		  <li class="tab-title"><a href="#panel3">Stand-Alone Articles</a></li>
		  <li class="tab-title"><a href="#panel4">Works of Art</a></li>
		  <li class="tab-title"><a href="#panel5">Artists</a></li>
		  <li class="tab-title"><a href="#panel6">Editing</a></li>
		</ul>
		<div class="tabs-content">

		  <div class="content active" id="panel1">
		  	<p>
		  		<b>Introduction:</b>
		  	</p>
		  		<div class="large-12 columns">
					<p class="justify">
						This site hosts a database of information about art and artists. We host profiles as data objects. The primary data-objects are:
					</p>
					<ul class="wc_list">
						<li>Works (like a "work of art")</li>
						<li>Artists (who create works of art)</li>
						<li>Articles (can be reviews of works of art, or can be stand-alone)</li>
						<li>Plus some other things...</li>
					</ul>
					<p class="justify">
						A review Article cannot exist without a Work profile. A Work profile cannot exist without an Artist profile. One Artist can be linked to many Works. One Work can be linked to many Reviews.
					</p>
					<p class="justify">
						Visitors to the site will primarily be looking at Articles, but they'll be able to do dynamic searches of Artists and Works to help them find the right Articles. Plus they can just check out raw data about an album, book, or artist without reading a full review.
					</p>
		  		</div>
		  </div>

		  <div class="content" id="panel2">
		    <p>
		  		<b>How to write Review Articles:</b>
		  	</p>
		  		<div class="large-12 columns">
					<p class="justify">
						<ol>
							<li>
								<p class="justify">
									First add an Artist profile to the database (check the database first... maybe someone already added their profile)
								</p>
							</li>
							<li>
								<p class="justify">
									Go to the artist's page and add a profile for a Work of art to the database (again... check first to see if it's already there).
								</p>
							</li>
							<li>
								<p class="justify">
									Go to the Work's page and write a review about it.
								</p>
							</li>
						</ol>
					</p>
		  		</div>
		  </div>

		  <div class="content" id="panel3">
		    <p>
		  		<b>How to write Stand-Alone Articles:</b>
		  	</p>
		  	<div class="large-12 columns">
				<p class="justify">
					It's pretty simple... just press the button and write the article. Ideas / How-To Articles aren't linked to anything else.
				</p>
		  	</div>
		  </div>

		  <div class="content" id="panel4">
		    <p>
		  		<b>How to add Works of Art to the database:</b>
		  	</p>
		  	<div class="large-12 columns">
				<p class="justify">
					A profile for a "Work" of art cannot exist in the database until a profile exists for the Artist who created it. So first you have to either find that Artist in the database, or create a new profile for the Artist.
					<br><br>
					After finding or saving the Artist's profile, go to their profile page and press "Add Work by this Artist." The form from there should be self-explanatory. There are extra options you can add after you save the profile... extra options include adding Contributors and a Track List.
				</p>
		  	</div>
		  </div>

		  <div class="content" id="panel5">
		    <p>
		  		<b>How to add and Artist Profile to the database:</b>
		  	</p>
		  	<div class="large-12 columns">
				<p class="justify">
					Pretty self-explanatory. First search / browse the database to make sure they don't already have a profile. If the Artist is not in the database, just go to the /wc_admin page and press the button to add an Artist profile to the database. The form is straight-forward.
				</p>
		  	</div>
		  </div>

		  <div class="content" id="panel6">
		    <p>
		  		<b>How to edit stuff:</b>
		  	</p>
		  	<div class="large-12 columns">
				<p class="justify">
					If you are the person who wrote an article or who created a profile then you can go back and edit those things later. Otherwise, only certain privilaged users can edit articles and profiles that they did not create.
					<br><br>
					To edit your entries just go to the entry and press the "edit" button. That button will only appear for those who have the rights to edit them.
				</p>
		  	</div>
		  </div>

		</div>

	</div>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<!-- END of MODALS -->

{% endblock %}