{% extends "base.html" %}

{% block title %} Weird Canada Control Panel {% endblock %}

{% block content %}

<div class="large-12 columns">
	<div class="row">
		<div class="panel">
			<div class="row">
				<div class="large-6 medium-6 columns">
				
				
					<h3>DATABASE</h3>
					<br>

					<p>
						<button class="button small" href="http://www.pattmayne.com">Add Artist</button>
					</p>
					<p>
						<button class="button small">Add Article</button>
					</p>
					<p>
						<button class="button small">Browse Artists</button>
					</p>
					<p>
						<a class="button small" href="/indie_db/browse_artists">Browse Works</a>
					</p>
					<p>
						<a class="button small" href="/indie_db/browse_articles">Browse Articles</a>
					</p>

				</div>

				<div class="large-6 medium-6 columns">

					<h3>PROFILE</h3>
					<br>

					<table>

						<tr>
							<td>
								Username:
							</td>
							<td>
								{{ user.username }}
							</td>
						</tr>

						<tr>
							<td>
								Author Name:
							</td>
							<td>
								{{ author.authorname }}
							</td>
						</tr>

						<tr>
							<td>
								Real Name:
							</td>
							<td>
								{{ user.first_name }} {{user.last_name}}
							</td>
						</tr>

						<tr>
							<td>
								Email:
							</td>
							<td>
								{{ user.email }}
							</td>
						</tr>

						<tr>
							<td>
								Member Since:
							</td>
							<td>
								{{ user.date_joined }}
							</td>
						</tr>

					</table>
					<br>

					<button class="button small">Edit Profile</button>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="large-12 columns">
	<div class="row">
		<div class="panel">
			<div class="row">
				<div class="large-4 medium-6 columns">

					<h3>LATEST ARTICLES:</h3>
					<div class="large-12 columns">
						{% for article in latest_articles %}

						<a href="/indie_db/view_article/?id={{ article.id }}"><h5>{{ article.title }}</h5></a>
						<ul class="wc_list">
							<li><p>{{ article.author }}</p></li>
							<li><p>{{ article.category }}</p></li>
						</ul>

						{% endfor %}
						<br>
					</div>
				</div>
				<div class="large-4 medium-6 columns">

					<h3>LATEST WORKS:</h3>

					<div class="large-12 columns">

						{% for work in latest_works %}

						<a href="/indie_db/view_work/?id={{ work.id }}"><h5>{{ work.title }}</h5></a>
						<ul class="wc_list">
							<li><p>{{ work.creator }}</p></li>
							<li><p>{{ work.category }}</p></li>	
						</ul>

						{% endfor %}
						<br>
					</div>
				</div>

				

				<div class="large-4 medium-6 columns">

					<h3>LATEST ARTISTS:</h3>
					<div class="large-12 columns">
						{% for artist in latest_artists %}

						<a href="/indie_db/view_artist/?id={{ artist.id }}"><h5>{{ artist.name }}</h5></a>

						{% endfor %}
						<br>
					</div>
				</div>

				

				<div class="large-12 medium-6 columns">
					<h3>DATABASE STATS:</h3>
					<div class="large-12 columns">
						<table>
							<tr>
								<td>Total Articles:</td>
								<td>{{ total_articles }}</td>
							</tr>
							<tr>
								<td>Total Works:</td>
								<td>{{ total_works }}</td>
							</tr>
							<tr>
								<td>Total Artists:</td>
								<td>{{ total_artists }}</td>
							</tr>
							<tr>
								<td>Total WC Authors:</td>
								<td>{{ total_authors }}</td>
							</tr>
						</table>
					</div>
				</div>
		</div>
	</div>
</div>

{% endblock %}