{% extends "base.html" %}

{% block title %}{{ work.title }} {% endblock %}

{% block content %}

<div class="row">
	<div class="panel">
		<div class="row">
			<div class="large-12 columns">

				<h1>{{ work.title }}</h1>

			</div>

			<div class="large-6 columns">
				
				<div class="large-12 columns sub_panel">
					<h6>ARTIST:</h6>
					<p>{{work.creator.name}}</p>
					<br/>
				</div>

				
				<div class="large-12 columns sub_panel">
					<h6>RELEASED:</h6>
					<p>{{work.created}}</p>
					<br/>
				</div>

				
				<div class="large-12 columns sub_panel">
					<h6>CITY:</h6>
					<p>{{work.city}}</p>
					<br/>
				</div>

				
				<div class="large-12 columns sub_panel">
					<h6>LABEL:</h6>
					{% if work.self_published %}
						<p>Self-Released</p>
					{% else %}
						<p>{{ work.production_company }}</p>
					{% endif %}
					<br/>
				</div>

				<div class="large-12 columns sub_panel">

					<h6>WEBSITE:</h6>
					<div class="large-12 columns">
						<p><a href="{{work.website.link}}">{{work.website.name}}</a></p>
					</div>
				
				</div>

			</div>

			<div class="large-6 columns">

				
				<div class="large-12 columns sub_panel">
					<h6>CATEGORY:</h6>
					<p>{{work.work_category}}</p>
					<br/>
				</div>

				
				<div class="large-12 columns sub_panel">
					<h6>STYLES & GENRES:</h6>
					<p>
						{% for style in work.styles.all %}
							
							{{ style }}, 
		
						{% endfor %}
					</p>
					<br/>
				</div>

				{% if has_tracklist %}

				
				<div class="large-12 columns sub_panel">
					<h6>TRACKLIST:</h6>
					<p>
						<ul class="wc_list">
						{% for track in work.tracklist.all %}
							<li>
								<b>{{ track.position }}.</b> {{ track.title }} [{{ track.duration }}]
							</li>
						{% endfor %}
						</ul>
					</p>
					<br/>
				</div>

				{% endif %}

				
				<div class="large-12 columns sub_panel">
					<h6>CONTRIBUTORS:</h6>
					<p>
						{% for contributor in work.contributors.all %}
							
							<p>
								<b>NAME:</b> {{ contributor.contributing_artist.name }} <br>
								<b>ROLE:</b> {{ contributor.role }}
							</p>
							<br>
		
						{% endfor %}
					</p>
				</div>

			</div>
		

			
			<div class="large-12 columns">

				
				<div class="large-12 columns sub_panel">
					<h6>DESCRIPTION:</h6>
					<div class="large-6 columns">
						<p class="justify">
							Anglais:
							<br>
							{{ work.description_en }}
							<br>
						</p>
					</div>
					<div class="large-6 columns">
						<p class="justify">
							French:

							<br>
							{{ work.description_fr }}
							<br>
						</p>
					</div>
				</div>

			</div>

		</div>
	</div>

	<div class="panel wc_control">
		<div class="row">
			<div class="large-12 columns">
				<h3>Controls</h3>
			</div>
			<div class="large-4 medium-4 columns">

				<form method="post" action="/wc_admin/write_review/">
					{% csrf_token %}
					<input type="hidden" name="work_id" value="{{ work.id }}">
					<input type="submit" class="button small" value="Write Article about this Work">

				</form>

				<form method="post" action="/wc_admin/edit_tracklist/">
					{% csrf_token %}
					<input type="hidden" name="work_id" value="{{ work.id }}">
					<input type="submit" class="button small" value="Add/Edit Tracklist">

				</form>

			</div>
			<div class="large-8 medium-8 columns">
				<h6>Add Contributor</h6>
				<div class="large-6 columns">
					
					<p class="justify">
						<i>Remember: A "contributor" is stored as an Artist, so the contributing Artist needs to already be in the database before you can add them to this list.</i>
					</p>
					<form method="post" action="/wc_admin/add_contributor/">
						{% csrf_token %}
						<label for="contributor_to_add">Are they in the database?
							<select name="contributor_to_add">
								<option selected="true" disabled="disabled">Select Contributing Artist</option>
								{% for artist in all_artists %}
									<option value="{{ artist.id }}">{{ artist.name }}</option>
						    	{% endfor %}
							</select>
						</label>
						<br>
						<label for="role">What Role did they play in this work of art?
							<input id="role" name="role" placeholder="Role" required>
						</label>
						<input type="hidden" name="work_id" value="{{ work.id }}">
						<br>
						<input type="submit" class="button small" value="ADD">
					</form>
				</div>

				<div class="large-6 columns">
					<p class="justify">
						If the contributing Artist is not already in the database, you should search/browse for them and probably add them yourself. Then you can come back here and add them to the list of contributing Artists.
					</p>

					<div class="large-6 medium-6 columns">
						<a href="/wc_admin/browse_artists" class="button small">BROWSE ARTISTS</a>
					</div>
					<div class="large-6 medium-6 columns">
						<a href="/wc_admin/write_new_artist" class="button small">ADD CONTRIBUTING ARTIST TO DB</a>
					</div>
					
			
				</div>

				<hr>

				<h6>Set Production/Publication Company</h6>

				<div class="large-12 columns">

					<div class="large-7 columns">
						<p class="justify">
							<i>Select company from list below, or add company to the database via the link to the right.</i>
						</p>

						<form method="post" action="/wc_admin/add_production_company/">
							{% csrf_token %}
							<input type="hidden" name="work_id" value="{{work.id}}" />
							<select name="company_id">
								<option selected="true" disabled="disabled">Select Company</option> 
								{% for company in production_companies %}
								<option value="{{ company.id }}">{{ company.name }}</option>
								{% endfor %}
							</select>
							<br>
							<h6>OR</h6>
							<label for="self_released">Check Here if Self-Released
								<input type="checkbox" name="self_released">
							</label>
							<br><br>
							<input type="submit" class="button small" value="SET PRODUCTION COMPANY">
						</form>
					</div>

					<div class="large-5 columns">
					</div>

				</div>
			</div>
		</div>
	</div>

</div>

<div class="row">
	<div class="panel">
		<div class="row">
			<div class="large-12 columns">
				<h3>{{ articles.count }} Articles about {{ work }}</h3>
			</div>
				{% for article in articles %}
					<div class="large-4 medium-6 columns">
						<a href="/wc_admin/view_article/?id={{ article.id }}">
								<div class="sub_panel link_panel">
									<h6>{{ article.title }}</h6>
									<p>By {{ article.author }}
										<br>
										{{ article.date_created }}
										<br>
										Category: {{ article.category }}
									</p>
								</div>
							</a>
					</div>
				{% endfor %}
		</div>

	</div>
</div>


						<!-- MODALS -->



						<!-- END of MODALS -->


{% endblock %}