{% extends "base.html" %}

{% block title %}{{ work.title }} {% endblock %}

{% block content %}

<div class="row">
	<div class="panel">
		<div class="row">
			<div class="large-12 columns">

				<h2>{{ work.title }}</h2>

			</div>
			<div class="large-6 columns">

				<h5>ARTIST:</h5>
				<div class="large-12 columns">
					<p>{{work.creator.name}}</p>
				</div>

				<h5>RELEASED:</h5>
				<div class="large-12 columns">
					<p>{{work.created}}</p>
				</div>

				<h5>CITY:</h5>
				<div class="large-12 columns">
					<p>{{work.city}}</p>
				</div>

			</div>
			<div class="large-6 columns">

				<h5>CATEGORY:</h5>
				<div class="large-12 columns">
					<p>{{work.category}}</p>
				</div>

				<h5>STYLES & GENRES:</h5>
				<div class="large-12 columns">
					<p>
						{% for style in work.styles.all %}
							
							<p>{{ style }}, </p>
		
						{% endfor %}
					</p>
				</div>

				<h5>CONTRIBUTORS:</h5>
				<div class="large-12 columns">
					<p>
						{% for contributor in work.contributors.all %}
							
							<p>{{ contributor.contributing_artist.name }} </p>
							<p>{{ contributor.role }} </p>
							<br>
		
						{% endfor %}
					</p>
				</div>

			</div>
			<div class="large-12 columns">

				<h5>WEBSITE:</h5>
				<div class="large-12 columns">
					<p><a href="{{work.website.link}}">{{work.website.name}}</a></p>
				</div>
			
			</div>
			<div class="large-12 columns">

				<h5>DESCRIPTION:</h5>
				<div class="large-12 columns">
					<p>
						<br>
						{{ work.description }}
						<br>
					</p>
				</div>

			</div>

		</div>
	</div>

	<div class="panel wc_control">
		<div class="large-12 columns">
			<h3>Controls</h3>
		</div>
		<div class="large-6 medium-6 columns">

			<form method="post" action="/wc_admin/write_review/">
				{% csrf_token %}
				<input type="hidden" name="work_id" value="{{ work.id }}">
				<input type="submit" class="button small" value="Write Article about this Work">

			</form>

			<button class="button small" href="#">
				Add Tracklist
			</button>
		</div>
		<div class="large-6 medium-6 columns">

			<div class="large-6 columns">
				<h5>Add Contributor</h5>
				<p class="justify">
					<i>Remember: A "contributor" is stored as an Artist, so the contributing Artist needs to already be in the database before you can add them to this list.</i>
				</p>
				<form method="post" action="/wc_admin/add_contributor/">
					<label for="number_of_contributors">Is the contributing Artist already in the database?
						<input id="artists" name="contributor_name" placeholder="Type the name here" required>
					</label>
					<label for="role">What Role did they play in this work of art?
						<input id="role" name="role" placeholder="Role" required>
					</label>
					<input type="hidden" name="work_id" value="{{ work.id }}">
					<input type="submit" class="button small" value="GO">
				</form>
			</div>

			<div class="large-6 columns">
				<p class="justify">
					If the contributing Artist is not already in the database, you should search/browse for them and probably add them yourself. Then you can come back here and add them to the list of contributing Artists.
				</p>

				<div class="large-6 medium-6 columns">
					<a href="/indie_db/browse_artists" class="button small">BROWSE ARTISTS</a>
				</div>
				<div class="large-6 medium-6 columns">
					<a href="/wc_admin/write_new_artist" class="button small">ADD CONTRIBUTING ARTIST TO DB</a>
				</div>
				
		
			</div>

		</div>
	</div>

</div>

<div class="row">
	<div class="panel">
		<div class="row">
			<div class="large-12 columns">
				<h3>{{ articles.count }} Articles about {{ work }}</h3>
			</div>
				{% for article in articles %}
					<div class="large-4 medium-6 columns">
						<a href="/indie_db/view_article/?id={{ article.id }}">
								<div class="sub_panel link_panel">
									<h5>{{ article.title }}</h5>
									<p>By {{ article.author }}
										<br>
										{{ article.date_created }}
										<br>
										Category: {{ article.category }}
									</p>
								</div>
							</a>
					</div>
				{% endfor %}
		</div>

	</div>
</div>

<!-- JQuery for the autocomplete text thing -->

  <script>
  $(function() {
    var availableArtists = [
    	{% for artist in all_artists %}
    		"{{ artist.name }}",
    	{% endfor %}
    ];
    $( "#artists" ).autocomplete({
      source: availableArtists
    });
  });
  </script>

						<!-- MODALS -->



						<!-- END of MODALS -->


{% endblock %}