
/*
    Custom CSS
    Special styles for WeirdCanada.com
    2015 by Matt Payne
    http://www.spiralmachines.ca
    http://www.pattmayne.com
*/


/*
		GENERAL / site-wide stuff
*/

#page_wrapper{
	min-height: 100%!important;
}

.sub_panel{
	background-color: #ffffff;
	margin: 5px;
	padding: 7px;
	border: 2px solid white;
}

.link_panel:hover{
	border: 2px solid black;
}

::-webkit-input-placeholder {
   color: #222222!important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #222222!important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #222222!important;  
}

:-ms-input-placeholder {  
   color: #222222!important;  
}




/*
	Formatting stuff
*/

.wc_list,
.wc_list li{
	list-style-type: none;
}

.justify{
	text-align: justify;
}

.center{
	text-align: center;
}


/*
		Indie DB styling
*/

.article_text{
	text-align: justify;
}