
/*
    Custom CSS
    Special styles for WeirdCanada.com
    2015 by Matt Payne
    http://www.spiralmachines.ca
    http://www.pattmayne.com
*/


/*
		GENERAL / site-wide stuff
*/

#page_wrapper{
	min-height: 100%!important;
}

.sub_panel{
	background-color: #ffffff;
	margin: 5px;
	padding: 7px;
	border: 2px solid white;
}

.link_panel:hover{
	border: 2px solid black;
}

::-webkit-input-placeholder {
   color: #222222!important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #222222!important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #222222!important;  
}

:-ms-input-placeholder {  
   color: #222222!important;  
}


.tabs .tab-title{
	background-color: #ffffff!important;
	padding: 0;
	margin: 0;
}

.tabs .active{
	background-color: #cccccc!important;
}

.page_title{
	color: #333333!important;
}


#footer{
	background-color: #111111;
	color: #cccccc;
	padding-top: 11px;
	padding-bottom: 11px;
	font-size: 80%;
}


/*
	Formatting stuff
*/

.wc_list,
.wc_list li{
	list-style-type: none;
}

.justify{
	text-align: justify;
}

.center{
	text-align: center;
}


/*
		Indie DB styling
*/

.article_text{
	text-align: justify;
}

.no_pad_left{
	padding-left: 0!important;
}

.no_pad_right{
	padding-right: 0!important;
}

.no_pad_top{
	padding-top: 0!important;
}

.no_pad_bottom{
	padding-bottom: 0!important;
}

.no_margin_bottom{
	margin-bottom: 0!important;
}

.no_margin_right{
	margin-right: 0!important;
}

.no_margin_left{
	margin-left: 0!important;
}

.no_margin_top{
	margin-top: 0!important;
}