{% extends "base_front.html" %}

{% block title %} {{ article.title }} {% endblock %}

{% block content %}

	<section id="post" class="container reviewPost">
		<article>
		
		<div class="postMedia col-md-4">
					<img src="/media/{{ article.cover_image }}" class="front_page_pic" />
				<div class="postMediaPlayer">
					Audio Player (Not Functional Yet)
				</div>
				<div class="postMeta col-md-12">
					<div class="postCredits">
						<p class="postAuthor">
							{{ article.author.tagline }} <strong>{{ article.author }}</strong>
						</p>
						<p class="postDate"><strong>Posted:</strong> {{ article.date_created|date:"M d, Y" }}</p>
					</div>
					
				</div>
		</div>
		
		<div class="postContent col-md-6">
			<div class="articleHead">
				<p class="postType">
					<a href="#">
						{{ article.article_category }}
					</a>
				</p>
				<h1>{{ article.title }}</h1>
				
	
				{% if article.work_link %}
					<h2>{{ article.work_link.creator }}</h2>
				{% endif %}
			</div>
			
			<div class="unassigned_article_text_class">
				{{ article.body_en }}
			</div>
			
			<div class="postLinks row">
				
				{% if article.work_link %}

				<div class="col-md-6">
					<h2>Details</h2>
					<ul class="details_list">
						{% if article.work_link.self_published %}
						<li>
							Label: <a href="#">
								Self Published
							</a>
						</li>
						{% else %}
						<li>
							Label: <a href="/indie_db/publishers?id={{ article.work_link.production_company.id }}">
								{{ article.work_link.production_company }}
							</a>
						</li>
						{% endif %}
						<li>Work Category: <a href="/indie_db/works/search?cat={{ article.work_link.work_category }}">{{ article.work_link.work_category }}</a></li>
						<li>Relative Epoch: <a href="#">{{ article.epoch }}</a></li>
						<li>Article Category: <a href="/search?cat={{article.article_category}}">{{ article.article_category }}</a></li>
						<li>How Category: 
							<a href="#">
								{% for category in article.how_category.all %}
									{{ category }}, 
								{% endfor %}
							</a>
						</li>
						<li>City: <a href="/indie_db/works/search?city={{ article.work_link.city }}">{{ article.work_link.city }}</a></li>
						<li>
								<a href="{{ article.website }}">Buy Link</a>
						</li>
					</ul>
				</div>
				{% endif %}

				<div class="col-md-6">
					<h2>Tags</h2>
						<ul class="details_list">
							<li>
								
									{% for tag in article.tags.all %}
										<a href="/search?tag={{tag}}">{{ tag }}</a>, 
									{% endfor %}
								
							</li>
						</ul>
				</div>
				{% if article.work_link %}
				<div class="col-md-6">
					<h2>Genres</h2>
						<ul class="details_list">
							{% for style in article.work_link.styles.all %}
								<li>
									<a href="/indie_db/works/search?style={{ style }}">{{ style }}</a>
								</li>
							{% endfor %}

						</ul>
				</div>
				{% endif %}
			</div>
		</div>

		
	</article>
</section>

{% endblock %}