{% extends "base_front.html" %}

{% block title %} Weird Canada {% endblock %}

{% block content %}



	

			<section id="index" class="container">
	
				<!--Primary Post-->
				<div class="articleList features inner col-md-10 col-md-offset-1">
					<article class="postContent">
						<div class="postMedia">
							<a href="/article?id={{ articles.0.id }}" class="front_page_pic_link">
								<img src="/media/{{ articles.0.cover_image }}" class="front_page_pic" />
							</a>
						</div>
						<div class="articleHead">
							<p class="postType">
								<a href="/?cat="{{ articles.0.article_category }}>
									{{ articles.0.article_category }}
								</a>
							</p>
							<h1>
								<a href="/article?id={{ articles.0.id }}" class="primary-post-title">
									{{ articles.0.title }}
								</a>
							</h1>
							<h2 class="">
								<b>
									{{ articles.0.author }}
								</b>
							</h2>
							<h2><a href="/indie_db/authors?id={{ articles.0.author.id }}">{{ articles.0.author }}</a> | {{ articles.0.date_created|date:"M d, Y" }}</h2>
							<p>
								<div class="tabs-content">
										<section role="tabpanel" aria-hidden="false" class="content active" id="panel{{articles.0.id}}-en">
										 	<p class="justify">
										{{ articles.0.body_en|truncatewords:50 }}
									</p>
								  </section>
								  <section role="tabpanel" aria-hidden="true" class="content" id="panel{{articles.0.id}}-fr">
								    <p class="justify">
										{{ articles.0.body_fr|truncatewords:50 }}
									</p>
								  </section>
									<ul class="tabs hide-for-large-up" data-tab role="tablist">
										<li class="tab-title active" role="presentational"><a href="#panel{{articles.0.id}}-en" role="tab" tabindex="0" aria-selected="true" controls="panel{{articles.0.id}}-en"><p class="language_tab_button">English</p></a></li>
										<li class="tab-title" role="presentational"><a href="#panel{{articles.0.id}}-fr" role="tab" tabindex="0" aria-selected="false" controls="panel{{articles.0.id}}-fr"><p class="language_tab_button">Francais</p></a></li>
									</ul>
								</div>
							</p>
						</div>
					</article>
				</div>

					<!-- Two Secondary Posts -->

					<div class="articleList features col-md-10 col-md-offset-1 col-lg-offset-1">
						<div class="row">

							{% if articles.1 %}
						
							<article class="postContent"><!-- first secondary post -->

								<div  class="postMedia col-md-8">
									<a href="/article?id={{ articles.1.id }}">
										<img src="/media/{{ articles.1.cover_image }}" class="secondary_pic"/>
									</a>
								</div>

								<div class="articleHead col-md-4">
									<p class="postType"><a href="/?cat={{ articles.1.article_category }}">{{ articles.1.article_category }}</a></p>
									<h1>
										<a href="/article?id={{ articles.1.id }}">
											{{ articles.1.title }}
										</a>
									</h1>
									<h2>
										
									</h2>
									<h3><a href="/indie_db/authors?id={{ articles.1.author.id }}">{{ articles.1.author }}</a> | {{ articles.1.date_created|date:"M d, Y" }}</h3>

									<div class="tabs-content">
									  <section role="tabpanel" aria-hidden="false" class="content active" id="panel{{articles.1.id}}-en">
									    <p class="justify">
											{{ articles.1.body_en|truncatewords:50 }}
										</p>
									  </section>
									  <section role="tabpanel" aria-hidden="true" class="content" id="panel{{articles.1.id}}-fr">
									    <p class="justify">
											{{ articles.1.body_fr|truncatewords:50 }}
										</p>
									  </section>
										<ul class="tabs left" data-tab role="tablist">
											<li class="tab-title active" role="presentational"><a href="#panel{{articles.1.id}}-en" role="tab" tabindex="0" aria-selected="true" controls="panel{{articles.1.id}}-en"><p class="language_tab_button">English</p></a></li>
											<li class="tab-title" role="presentational"><a href="#panel{{articles.1.id}}-fr" role="tab" tabindex="0" aria-selected="false" controls="panel{{articles.1.id}}-fr"><p class="language_tab_button">Francais</p></a></li>
										</ul>
									</div>

									<div class="audio_panel">
										{% for audio_file in articles.1.audio_links.all %}
											 <audio controls>
												  <source src="{{ audio_file.audio_link }}" type="audio/ogg">
												Your browser does not support the audio element.
												</audio> 

										{% endfor %}
									</div>

									
								</div>

							</article>

							{% endif %}

							{% if articles.2 %}
							
							<article class="postContent"><!-- second secondary post -->
								<div class="postMedia col-md-8">
									<a href="/article?id={{ articles.2.id }}">
										<img src="/media/{{ articles.2.cover_image }}" class="secondary_pic"/>
									</a>
								</div>
								<div class="articleHead col-md-4">
									<p class="postType"><a href="/?cat={{ articles.2.article_category }}">{{ articles.2.article_category }}</a></p>
									<h1>
										<a href="/article?id={{ articles.2.id }}">
											{{ articles.2.title }}
										</a>
									</h1>
									<h2>
										
									</h2>
									<h3><a href="/indie_db/authors?id={{ articles.2.author.id }}">{{ articles.2.author }}</a> | {{ articles.2.date_created|date:"M d, Y" }}</h3>
									<div class="tabs-content">
									  <section role="tabpanel" aria-hidden="false" class="content active" id="panel{{articles.2.id}}-en">
									    <p class="justify">
											{{ articles.2.body_en|truncatewords:50 }}
										</p>
									  </section>
									  <section role="tabpanel" aria-hidden="true" class="content" id="panel{{articles.2.id}}-fr">
									    <p class="justify">
											{{ articles.2.body_fr|truncatewords:50 }}
										</p>
									  </section>
										<ul class="tabs left" data-tab role="tablist">
											<li class="tab-title active" role="presentational"><a href="#panel{{articles.2.id}}-en" role="tab" tabindex="0" aria-selected="true" controls="panel{{articles.2.id}}-en"><p class="language_tab_button">English</p></a></li>
											<li class="tab-title" role="presentational"><a href="#panel{{articles.2.id}}-fr" role="tab" tabindex="0" aria-selected="false" controls="panel{{articles.2.id}}-fr"><p class="language_tab_button">Francais</p></a></li>
										</ul>
									</div>
								</div>
							</article>

							{% endif %}
						</div>
						
					</div>


			<!-- All the other (thirdary?) posts -->
	<!-- MATT: This is where I will use a LOOP to just make this post once (or three times).
	
		At the top of the page we can grab all the posts from the database and put them in PHP variables and arrays.
		
		Then we can generate as many "articles" as we fucking need. Yeah boy.
		
		But I need to check this out to see how the formatting works. See how one is labelled differently from the others.
		
		!!!!!!!!!!!!!!!!!!!!!
		I'm pretty sure I can just do a PHP loop here for X number of items...
		Everything inside the <article> tag looks identical.
	-->
	
	<div class="articleList gridBlock col-md-10 col-md-offset-1">
		<div class="row">
		
			{% for article in articles %}
				{% if forloop.counter > 3 %}

				
				<article class="postContent col-md-4">
					<div  class="postMedia">
						<a href="/article?id={{ article.id }}">
							<img src="/media/{{ article.cover_image }}" />
						</a>
					</div>
					<div class="articleHead">
						<h6 class="postType">
							<a href="#">{{ article.article_category }}</a>
						</h6>
						<h1>
							<a href="/article?id={{ article.id }}">
								{{ article.title }}
							</a>
						</h1>
						<h2>
							{% if article.work_link %}
								{{ article.work_link.creator }}
							{% endif %}
						</h2>
						<h3>
							<a>{{ article.date_created|date:"M d, Y" }}</a>
						</h3>
						<h3>
							<a href="/indie_db/authors?id={{ article.author }}">{{ article.author }}</a>
						</h3>

						<div class="tabs-content hide-for-medium-up">
						  <section role="tabpanel" aria-hidden="false" class="content active" id="panel1-en-{{ forloop.counter }}">
						    <p class="justify">
								{{ article.body_en|truncatewords:50 }}
							</p>
						  </section>
						  <section role="tabpanel" aria-hidden="true" class="content" id="panel1-fr-{{ forloop.counter }}">
						    <p class="justify">
								{{ article.body_fr|truncatewords:50 }}
							</p>
						  </section>
							<ul class="tabs left" data-tab role="tablist">
								<li class="tab-title active" role="presentational"><a href="#panel1-en-{{ forloop.counter }}" role="tab" tabindex="0" aria-selected="true" controls="panel1-en-{{ forloop.counter }}"><p class="language_tab_button">English</p></a></li>
								<li class="tab-title" role="presentational"><a href="#panel1-fr-{{ forloop.counter }}" role="tab" tabindex="0" aria-selected="false" controls="panel1-fr-{{ forloop.counter }}"><p class="language_tab_button">Francais</p></a></li>
							</ul>
						</div>

					</div>
				</article>
			
			{% endif %}

			{% endfor%}
			
			
		</div>
	</div>

</section> <!-- end of section id=index / class=container -->
		<div class="row">
			<hr>
			{% if articles.has_previous %}
            <a href="/?page={{ articles.previous_page_number }}&cat={{ cat }}" class="left">previous</a>
        	{% endif %}

        	{% if articles.has_next %}
            <a href="/?page={{ articles.next_page_number }}&cat={{ cat }}" class="right">next</a>
        	{% endif %}
        </div>


{% endblock %}