{% extends "base_front.html" %}

{% block title %} Weird Canada {% endblock %}

{% block content %}



	

			<section id="index" class="container">
	
					<!-- Two Secondary Posts -->

					<div class="articleList features col-md-10 col-md-offset-1 col-lg-offset-1">
						<div class="row">

							{% for article in articles %}
						
							<article class="postContent"><!-- first secondary post -->

								<div  class="postMedia col-md-8">
									<a href="/article?id={{ article.id }}">
										<img src="/media/{{ article.cover_image }}" class="secondary_pic"/>
									</a>
								</div>

								<div class="articleHead col-md-4">
									<p class="postType"><a href="/?cat={{ article.article_category }}">{{ article.article_category }}</a></p>
									<h1>
										<a href="/article?id={{ article.id }}">
											{{ article.title }}
										</a>
									</h1>
									<h2>
										
									</h2>
									<h3><a href="/indie_db/authors?id={{ article.author.id }}">{{ article.author }}</a> | {{ article.date_created|date:"M d, Y" }}</h3>

									<div class="tabs-content">
									  <section role="tabpanel" aria-hidden="false" class="content active" id="panel{{article.id}}-en">
									    <p class="justify crop">
											{{ article.body_en|truncatewords_html:52 }}
										</p>
									  </section>
									  <section role="tabpanel" aria-hidden="true" class="content" id="panel{{article.id}}-fr">
									    <p class="justify crop">
											{{ article.body_fr|truncatewords_html:52 }}
										</p>
									  </section>
										<ul class="tabs left" data-tab role="tablist">
											<li class="tab-title active" role="presentational"><a href="#panel{{article.id}}-en" role="tab" tabindex="0" aria-selected="true" controls="panel{{article.id}}-en"><p class="language_tab_button">English</p></a></li>
											<li class="tab-title" role="presentational"><a href="#panel{{article.id}}-fr" role="tab" tabindex="0" aria-selected="false" controls="panel{{article.id}}-fr"><p class="language_tab_button">Francais</p></a></li>
										</ul>
									</div>

									<div class="audio_panel">
										{% for audio_file in article.audio_links.all %}
												<audio class="audioTrack" preload="none" id="{{ audio_file.id }}">
													<source src="{{ audio_file.ogg_link }}" type="audio/ogg; codecs=&quot;vorbis&quot;" />
													<source src="{{ audio_file.mp3_link }}" type="audio/mpeg; codecs=&quot;mp3&quot;" />
												</audio>
												<a onclick="play_track({{ audio_file.id }})"><i class="fa fa-play-circle"></i></a>
												<a onclick="pause_track()"><i class="fa fa-pause"></i></a>
												&nbsp;&nbsp;&nbsp;{{audio_file.title}}
												<br />
										{% endfor %}
									</div>

									
								</div>

							</article>

							{% endfor %}

							
			
			
		</div>
	</div>

</section> <!-- end of section id=index / class=container -->
		<div class="row">
			<hr>
			{% if articles.has_previous %}
            <a href="/?page={{ articles.previous_page_number }}&cat={{ cat }}" class="left">previous</a>
        	{% endif %}

        	{% if articles.has_next %}
            <a href="/?page={{ articles.next_page_number }}&cat={{ cat }}" class="right">next</a>
        	{% endif %}
        </div>


{% endblock %}