{% extends "base_front.html" %}

{% block title %} Search Works of Art - Weird Canada {% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<br><br>
		<div class="panel">
			<div class="row">
				<div class="large-12 columns">
					<h3>Search Works of Art:</h3>
					<form method="get" action="/indie_db/works/search/">

						<input type="text" name="title" id="title_id" placeholder="Title" />
						<input type="text" name="artist_name" id="artist_name_id" placeholder="Artist" />
						<input type="text" name="style" id="style_id" placeholder="Style or Genre">
						<input type="text" name="city" id="city_id" placeholder="City">
						<select name="cat" id="cat_id">
							<option value="all">All Categories</option>
							{% for category in work_categories %}
							<option value="{{ category }}">{{ category }}</option>
							{% endfor %}
						</select>
						<br>
						<input type="submit" class="button small" value="SEARCH" />

					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
		
      	<p class="left">{{ total_results }} results</p>

		<p class="right">page {{ page }} of {{ number_of_pages }}</p>
		<hr>
		{% if works.has_previous %}
         	<a href="?page={{ works.previous_page_number }}{{ search_string }}" class="left">previous</a>
      	{% endif %}

      	{% if works.has_next %}
         	<a href="?page={{ works.next_page_number }}{{ search_string }}" class="right">next</a>
      	{% endif %}
      	
</div>

	

<div class="container">
	<div class="row">

		

		<div class="panel">
			<div class="row">
				<div class="large-12 columns align_center">
					<br><br>
					
					<table class="lined">
						<tr>
							<th>TITLE</th>
							<th>ARTIST</th>
							<th>CATEGORY</th>
							<th>CITY</th>
							<th>RELEASE DATE</th>
						</tr>
						
					{% for work in works %}
						
							<tr>
								<td>
									<a href="/indie_db/works?id={{ work.id }}">
									{{ work.title }}
									</a>
								</td>
								<td>
									<a href="/indie_db/artists?id={{ work.creator.id }}">
									{{ work.creator }}
									</a>
								</td>
								<td>
									<a href="/indie_db/works/search?cat={{ work.work_category }}">
									{{ work.work_category }}
									</a>
								</td>
								<td>
									<a href="/indie_db/works/search?city={{ work.city }}">
									{{ work.city }}
									</a>
								</td>
								<td>
									{{ work.created }}
								</td>
							</tr>
						
					{% endfor%}

					</table>
				</div>
			</div>
		</div>
	</div>
</div>


		<div class="row">
			<hr>
			{% if works.has_previous %}
            <a href="?page={{ works.previous_page_number }}{{ search_string }}" class="left">previous</a>
        	{% endif %}

        	{% if works.has_next %}
            <a href="?page={{ works.next_page_number }}{{ search_string }}" class="right">next</a>
        	{% endif %}
        </div>


{% endblock %}