{% extends "base_front.html" %}

{% block title %} Weird Canada {% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<br><br>
		<div class="panel">
			<div class="row">
				<div class="large-12 columns">
					<h3>Search Articles:</h3>
					<form method="get" action="/search/">
						<input type="text" name="title" id="title_id" placeholder="Title" />
						<input type="text" name="artist_name" id="artist_name_id" placeholder="Artist" />
						<input type="text" name="tags" id="tags_id" placeholder="Tag">
						<select name="cat" id="cat_id">
							<option value="all">All Categories</option>
							{% for category in categories %}
							<option value="{{ category }}">{{ category }}</option>
							{% endfor %}
						</select>
						<br>
						<input type="submit" class="button small" value="SEARCH" />
						<br>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

	

<section id="index" class="container">

	<div class="articleList gridBlock col-md-10 col-md-offset-1">
		<div class="row">
		
			{% for article in articles %}
				
				<article class="postContent col-md-4">
					<div  class="postMedia">
						<a href="/article?id={{ article.id }}">
							<img src="/media/{{ article.cover_image }}" />
						</a>
					</div>
					<div class="articleHead">
						<h6 class="postType">
							<a href="?cat={{ article.article_category }}">{{ article.article_category }}</a>
						</h6>
						<h1>
							<a href="/article?id={{ article.id }}">
								{{ article.title }}
							</a>
						</h1>
						<h2>
							{% if article.work_link %}
								{{ article.work_link.creator }}
							{% endif %}
						</h2>
						<h3>
							<a>{{ article.date_created|date:"M d, Y" }}</a>
						</h3>
						<h3>
							<a href="/indie_db/authors?id={{ article.author }}">{{ article.author }}</a>
						</h3>
						<p>
							{{ article.body_en }}
						</p>
					</div>
				</article>


			{% endfor%}
			
			
		</div>
	</div>

</section> <!-- end of section id=index / class=container -->

		<div class="row">
			<hr>
			{% if articles.has_previous %}
            <a href="?page={{ articles.previous_page_number }}{{ search_string }}" class="left">previous</a>
        	{% endif %}

        	{% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}{{ search_string }}" class="right">next</a>
        	{% endif %}
        </div>


{% endblock %}