{% extends "base_front.html" %}

{% block title %} {{ work.title }} {% endblock %}

{% block content %}

	<section id="post" class="container reviewPost">
		<article>
		
		<div class="postMedia col-md-4">
					<img src="/media/{{ work.cover_image }}" class="front_page_pic" />
				<div class="postMeta col-md-12">
					<div class="postCredits">
						<p class="postAuthor">
							Artist: {{ work.creator }}
						</p>
						<p class="postDate"><strong>Released:</strong> {{ work.created|date:"M d, Y" }}</p>
					</div>
					
				</div>

				{% if work.tracklist.count > 0 %}

				<div class="postMeta col-md-12">
					<div class="postCredits">
						<h5>Tracklist:</h5>
						<ul>

						 {% for track in work.tracklist.all %}

							<li>
								<p><b>{{ track.position }}</b> - {{ track.title }} [{{ track.duration }}]

									{% for audio_file in track.audioplayerlink_set.all %}
										&nbsp;
												<audio class="audioTrack" preload="none" id="{{ audio_file.id }}">
													<source src="{{ audio_file.ogg_link }}" type="audio/ogg; codecs=&quot;vorbis&quot;" />
													<source src="{{ audio_file.mp3_link }}" type="audio/mpeg; codecs=&quot;mp3&quot;" />
												</audio>
												<a onclick="play_track({{ audio_file.id }})"><i class="fa fa-play-circle"></i></a>
												<a onclick="pause_track()"><i class="fa fa-pause"></i></a>
										{% endfor %}
								</p>
							</li>

						 {% endfor %}

						</ul>
					</div>
					
				</div>


			{% endif %}
		</div>
		
		<div class="postContent col-md-6">
			<div class="articleHead">
				<p class="postType">
					<a href="/indie_db/works?cat={{ work.work_category }}">
						{{ work.work_category }}
					</a>
				</p>
				<h1>{{ work.title }}</h1>
				<h6><i><a href="/indie_db/artists?id={{ work.creator.id }}">{{ work.creator }}</a></i></h6>
				
			</div>


			<div class="large-6 columns no_pad_left no_margin_right">
				<ul class="tabs" data-tab role="tablist">
					<li class="tab-title active" role="presentational"><a href="#panel1-en" role="tab" tabindex="0" aria-selected="true" controls="panel1-en"><p class="language_tab_button">English</p></a></li>
					<li class="tab-title" role="presentational"><a href="#panel1-fr" role="tab" tabindex="0" aria-selected="false" controls="panel1-fr"><p class="language_tab_button">Francais</p></a></li>
				</ul>
			</div>
			
			<br><br>
			
				<div class="unassigned_article_text_class">
					<div class="tabs-content">
						  <section role="tabpanel" aria-hidden="false" class="content active" id="panel1-en">
						    <p class="justify">
								{{ work.description_en }}
							</p>
						  </section>
						  <section role="tabpanel" aria-hidden="true" class="content" id="panel1-fr">
						    <p class="justify">
								{{ work.description_fr }}
							</p>
						  </section>
							
						</div>
				</div>
			
			<div class="postLinks row">

				<div class="col-md-6">
					<h2>Details</h2>
					<ul class="details_list">
						{% if work.self_published %}
						<li>
							Label: <a href="/indie_db/works/search?self_published=true">
								Self Published
							</a>
						</li>
						{% else %}
						<li>
							Label: <a href="/indie_db/publishers?id={{ work.production_company.id }}">
								{{ work.production_company }}
							</a>
						</li>
						{% endif %}
						<li>Category: <a href="/indie_db/works/search?cat={{ work.work_category }}">{{ work.work_category }}</a></li>
						<li>City: <a href="/indie_db/works/search?city={{ work.city }}">{{ work.city }}</a></li>
						{% if work.website %}
						<li>
								<a href="{{ work.website.link }}">::web/sounds::</a>
						</li>
						{% endif %}
					</ul>
				</div>


				<div class="col-md-6">
					<h2>Genres / Styles</h2>
						<ul class="details_list">
							{% for style in work.styles.all %}
								<li>
									<a href="/indie_db/works/search?style={{ style }}">{{ style }}</a>
								</li>
							{% endfor %}

						</ul>
				</div>

				{% if work.contributors.count > 0 %}
					<div class="col-md-6">
						<h2>Contributors:</h2>
							<ul class="details_list">
								{% for contributor in work.contributors.all %}
									<li>
										<a href="/indie_db/artists/?id={{contributor.id}}">{{ contributor.name }}</a>
									</li>
								{% endfor %}

							</ul>
					</div>
				{% endif %}

				
			</div>
		</div>



		
	</article>
</section>

	<section id="index" class="container">

	<div class="articleList gridBlock col-md-12">
		<div class="row">
			<br>
			<h4>Related Articles:</h4>
			<hr>
		
			{% for article in articles %}
				
				<article class="postContent col-md-4">
					<div  class="postMedia">
						<a href="/article?id={{ article.id }}">
							<img src="/media/{{ article.cover_image }}" />
						</a>
					</div>
					<div class="articleHead">
						<h6 class="postType">
							<a href="/?cat={{ article.article_category }}">{{ article.article_category }}</a>
						</h6>
						<h1>
							<a href="/article?id={{ article.id }}">
								{{ article.title }}
							</a>
						</h1>
						<h2>
							{% if article.work_link %}
								{{ article.work_link.creator }}
							{% endif %}
						</h2>
						<h3>
							<a>{{ article.date_created|date:"M d, Y" }}</a>
						</h3>
						<h3>
							<a href="/indie_db/authors?id={{ article.author }}">{{ article.author }}</a>
						</h3>
						<p>
							{{ article.body_en }}
						</p>
					</div>
				</article>


			{% endfor%}
			
			
		</div>
	</div>

</section> <!-- end of section id=index / class=container -->

		<div class="row">
			<hr>
			{% if articles.has_previous %}
            <a href="/?page={{ articles.previous_page_number }}&cat={{ cat }}" class="left">previous</a>
        	{% endif %}

        	{% if articles.has_next %}
            <a href="/?page={{ articles.next_page_number }}&cat={{ cat }}" class="right">next</a>
        	{% endif %}
        </div>


{% endblock %}