{% extends "base_front.html" %}

{% block title %} {{ work.title }} {% endblock %}

{% block content %}

	<section id="post" class="container reviewPost">
		<article>
		
		<div class="postMedia col-md-4">
					<img src="/media/{{ work.cover_image }}" class="front_page_pic" />
				<div class="postMediaPlayer">
					Audio Player (Not Functional Yet)
				</div>
				<div class="postMeta col-md-12">
					<div class="postCredits">
						<p class="postAuthor">
							Artist: {{ work.creator }}
						</p>
						<p class="postDate"><strong>Released:</strong> {{ work.created|date:"M d, Y" }}</p>
					</div>
					
				</div>

				{% if work.tracklist.count > 1 %}

				<div class="postMeta col-md-12">
					<div class="postCredits">
						<h5>Tracklist:</h5>
						<ul>

						 {% for track in work.tracklist.all %}

							<li>
								<p><b>{{ track.position }}</b> - {{ track.title }} [{{ track.duration }}]</p>
							</li>

						 {% endfor %}

						</ul>
					</div>
					
				</div>


			{% endif %}
		</div>
		
		<div class="postContent col-md-6">
			<div class="articleHead">
				<p class="postType">
					<a href="/indie_db/works?cat={{ work.work_category }}">
						{{ work.work_category }}
					</a>
				</p>
				<h1>{{ work.title }}</h1>
				<h6><i><a href="/indie_db/artists?id={{ work.creator.id }}">{{ work.creator }}</a></i></h6>
				
			</div>
			
			<div class="unassigned_article_text_class">
				{{ work.description }}
			</div>
			
			<div class="postLinks row">

				<div class="col-md-6">
					<h2>Details</h2>
					<ul class="details_list">
						{% if work.self_published %}
						<li>
							Label: <a href="/indie_db/works/search?self_published=true">
								Self Published
							</a>
						</li>
						{% else %}
						<li>
							Label: <a href="/indie_db/publishers?id={{ work.production_company.id }}">
								{{ work.production_company }}
							</a>
						</li>
						{% endif %}
						<li>Category: <a href="/indie_db/works/search?cat={{ work.work_category }}">{{ work.work_category }}</a></li>
						<li>City: <a href="/indie_db/works/search?city={{ work.city }}">{{ work.city }}</a></li>
						{% if work.website %}
						<li>
								<a href="{{ work.website.link }}">::web/sounds::</a>
						</li>
						{% endif %}
					</ul>
				</div>


				<div class="col-md-6">
					<h2>Genres / Styles</h2>
						<ul class="details_list">
							{% for style in work.styles.all %}
								<li>
									<a href="/indie_db/works/search?style={{ style }}">{{ style }}</a>
								</li>
							{% endfor %}

						</ul>
				</div>

				
			</div>
		</div>



		
	</article>
</section>

	<section id="index" class="container">

	<div class="articleList gridBlock col-md-12">
		<div class="row">
			<br>
			<h4>Related Articles:</h4>
			<hr>
		
			{% for article in articles %}
				
				<article class="postContent col-md-4">
					<div  class="postMedia">
						<a href="/article?id={{ article.id }}">
							<img src="/media/{{ article.cover_image }}" />
						</a>
					</div>
					<div class="articleHead">
						<h6 class="postType">
							<a href="/?cat={{ article.article_category }}">{{ article.article_category }}</a>
						</h6>
						<h1>
							<a href="/article?id={{ article.id }}">
								{{ article.title }}
							</a>
						</h1>
						<h2>
							{% if article.work_link %}
								{{ article.work_link.creator }}
							{% endif %}
						</h2>
						<h3>
							<a>{{ article.date_created|date:"M d, Y" }}</a>
						</h3>
						<h3>
							<a href="/indie_db/authors?id={{ article.author }}">{{ article.author }}</a>
						</h3>
						<p>
							{{ article.body_en }}
						</p>
					</div>
				</article>


			{% endfor%}
			
			
		</div>
	</div>

</section> <!-- end of section id=index / class=container -->

		<div class="row">
			<hr>
			{% if articles.has_previous %}
            <a href="/?page={{ articles.previous_page_number }}&cat={{ cat }}" class="left">previous</a>
        	{% endif %}

        	{% if articles.has_next %}
            <a href="/?page={{ articles.next_page_number }}&cat={{ cat }}" class="right">next</a>
        	{% endif %}
        </div>


{% endblock %}