{% extends "base_front.html" %}

{% block title %} Weird Canada {% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		
			<ul>

				<h3>So THIS is how we'll reference the first three</h3>
			1-{{ articles.0 }}<br>

			2-{{ articles.1 }}<br>

			3-{{ articles.2 }}<br>

			<h3>And this is how we'll get the rest of them.</h3>


			{% for article in articles %}
				{% if forloop.counter >= 3 %}

				<li>
					<h3>{{ article.title }}</h3>
					<h5>{{ article.author }}</h5>
				</li>
				{% endif %}

			{% endfor%}

			</ul>

			<h5>Pretty straight forward... Now I just need 24 or 32 articles...</h5>


		
	</div>
</div>

	

			<section id="index" class="container border">
	
				<!--Primary Post-->
				<div class="articleList features inner col-md-10 col-md-offset-1 left">
					<article class="postContent">
						<div class="postMedia">
							<a href="?article={{ articles.0.id }}">
								<img src="/media/{{ articles.0.cover_image }}" class="front_page_pic" />
							</a>
						</div>
						<div class="articleHead">
							<p class="postType">
								<a href="?cat="{{ articles.0.article_category }}>
									{{ articles.0.article_category }}
								</a>
							</p>
							<h1>
								<a href="?article={{ articles.0.id }}" class="primary-post-title">
									{{ articles.0.title }}
								</a>
							</h1>
							<h2 class="">
								<b>
									{{ articles.0.author }}
								</b>
							</h2>
							<h2><a href="#">{{ articles.0.author }}</a> | {{ articles.0.date_created }}</h2>

							<p>
								<!-- THIS ONCE SAID: $articles[0]['celebration_text']; -->
								Celebration Text!
							</p>

						</div>
					</article>

					<!-- Two Secondary Posts -->

					<div class="articleList features col-md-11 col-md-offset-1 border">
						

							{% if articles.1 %}
						
							<article class="postContent border_2"><!-- first secondary post -->
								<div  class="postMedia col-md-8 left">
									<a href="?article={{ articles.1.id }}">
										<img src="/media/{{ articles.1.cover_image }}" class="front_page_pic left" />
									</a>
								</div>
								<div class="articleHead col-md-4">
									<p class="postType"><a href="?cat={{ articles.1.article_category }}">{{ articles.1.article_category }}</a></p>
									<h1>
										<a href="#">
											{{ articles.1.title }}
										</a>
									</h1>
									<h2>
										
									</h2>
									<h3><a href="#">{{ articles.1.author }}</a> | {{ articles.1.date_created }}</h3>
									<p>
										{{ articles.1.body_en }}
									</p>
								</div>
							</article>

							{% endif %}
							{% if articles.2 %}
							
							<article class="postContent"><!-- second secondary post -->
								<div  class="postMedia col-md-8">
									<a href="?article=22">
										<img src="/media/{{ articles.2.cover_image }}" class="front_page_pic left" />
									</a>
								</div>
								<div class="articleHead col-md-4">
									<p class="postType"><a href="?how_category=word">CategoryName</a></p>
									<h1><a href="?article=44">
										The Title
									</a></h1>
									<h2>
										Artist Name
									</h2>
									<h3><a href="#">Author Name</a> | Posted Date</h3>
									<p>
										Lots of Text. Lorem ipsum deidus maximo glorious.
									</p>
								</div>
							</article>

							{% endif %}

						
					</div>

				</div>

			</section> <!-- end of section id=index / class=container -->

		
	</div>

{% endblock %}