{% extends "base_front.html" %}

{% block title %} Weird Canada {% endblock %}

{% block content %}



	

			<section id="index" class="container">
	
				<!--Primary Post-->
				<div class="articleList features inner col-md-10 col-md-offset-1 left">
					<article class="postContent">
						<div class="postMedia">
							<a href="?article={{ articles.0.id }}">
								<img src="/media/{{ articles.0.cover_image }}" class="front_page_pic" />
							</a>
						</div>
						<div class="articleHead">
							<p class="postType">
								<a href="?cat="{{ articles.0.article_category }}>
									{{ articles.0.article_category }}
								</a>
							</p>
							<h1>
								<a href="?article={{ articles.0.id }}" class="primary-post-title">
									{{ articles.0.title }}
								</a>
							</h1>
							<h2 class="">
								<b>
									{{ articles.0.author }}
								</b>
							</h2>
							<h2><a href="#">{{ articles.0.author }}</a> | {{ articles.0.date_created }}</h2>

							<p>
								<!-- THIS ONCE SAID: $articles[0]['celebration_text']; -->
								Celebration Text!
							</p>

						</div>
					</article>
				</div>

					<!-- Two Secondary Posts -->

					<div class="articleList features col-md-10 col-md-offset-1">
						<div class="row">

							{% if articles.1 %}
						
							<article class="postContent"><!-- first secondary post -->
								<div  class="postMedia col-md-8">
									<a href="?article={{ articles.1.id }}">
										<img src="/media/{{ articles.1.cover_image }}" />
									</a>
								</div>
								<div class="articleHead col-md-4">
									<p class="postType"><a href="?cat={{ articles.1.article_category }}">{{ articles.1.article_category }}</a></p>
									<h1>
										<a href="#">
											{{ articles.1.title }}
										</a>
									</h1>
									<h2>
										
									</h2>
									<h3><a href="#">{{ articles.1.author }}</a> | {{ articles.1.date_created }}</h3>
									<p>
										{{ articles.1.body_en }}
									</p>
								</div>
							</article>

							{% endif %}
							{% if articles.2 %}
							
							<article class="postContent"><!-- second secondary post -->
								<div class="postMedia col-md-8">
									<a href="?article={{ articles.2.id }}">
										<img src="/media/{{ articles.2.cover_image }}"/>
									</a>
								</div>
								<div class="articleHead col-md-4">
									<p class="postType"><a href="?cat={{ articles.2.article_category }}">{{ articles.2.article_category }}</a></p>
									<h1>
										<a href="#">
											{{ articles.2.title }}
										</a>
									</h1>
									<h2>
										
									</h2>
									<h3><a href="#">{{ articles.2.author }}</a> | {{ articles.2.date_created }}</h3>
									<p>
										{{ articles.2.body_en }}
									</p>
								</div>
							</article>

							{% endif %}
						</div>
						
					</div>


			<!-- All the other (thirdary?) posts -->
	<!-- MATT: This is where I will use a LOOP to just make this post once (or three times).
	
		At the top of the page we can grab all the posts from the database and put them in PHP variables and arrays.
		
		Then we can generate as many "articles" as we fucking need. Yeah boy.
		
		But I need to check this out to see how the formatting works. See how one is labelled differently from the others.
		
		!!!!!!!!!!!!!!!!!!!!!
		I'm pretty sure I can just do a PHP loop here for X number of items...
		Everything inside the <article> tag looks identical.
	-->
	
	<div class="articleList gridBlock col-md-10 col-md-offset-1">
		<div class="row">
		
			{% for article in articles %}
				{% if forloop.counter >= 3 %}

				
				<article class="postContent col-md-4">
					<div  class="postMedia">
						<a href="?article={{ article.id }}">
							<img src="/media/{{ article.cover_image }}" />
						</a>
					</div>
					<div class="articleHead">
						<h6 class="postType">
							<a href="#">{{ article.article_category }}</a>
						</h6>
						<h1>
							<a href="?article={{ article.id }}">
								{{ article.title }}
							</a>
						</h1>
						<h2>
							{% if article.work_link %}
								{{ article.work_link.creator }}
							{% endif %}
						</h2>
						<h3>
							<a href="#">{{ article.date_created }}</a>
						</h3>
						<h3>
							<a href="#">{{ article.author }}</a>
						</h3>
						<p>
							{{ article.body_en }}
						</p>
					</div>
				</article>
			
			{% endif %}

			{% endfor%}
			
			
		</div>
	</div>

			</section> <!-- end of section id=index / class=container -->

		
<div class="container">
	<div class="row">
		
			<ul>

				<h3>So THIS is how we'll reference the first three</h3>
			1-{{ articles.0 }}<br>

			2-{{ articles.1 }}<br>

			3-{{ articles.2 }}<br>

			<h3>And this is how we'll get the rest of them.</h3>


			{% for article in articles %}
				{% if forloop.counter >= 3 %}

				<li>
					<h3>{{ article.title }}</h3>
					<h5>{{ article.author }}</h5>
				</li>
				{% endif %}

			{% endfor%}

			</ul>

			<h5>Pretty straight forward... Now I just need 24 or 32 articles...</h5>


		
	</div>
</div>

{% endblock %}